<p id="notice"><%= notice %></p>

<%= will_paginate @blogs,class:'apple_pagination' %>
<%= render 'blog' %>
<%= will_paginate @blogs,class:'apple_pagination' %>

<!--      <tr>-->
<!--        <td><%#= blog.title %></td>-->
<!--        <td><%#= blog.content %></td>-->
<!--        <td><%#= link_to 'Show', blog %></td>-->
<!--        <td><%#= link_to 'Edit', edit_blog_path(blog) %></td>-->
<!--        <td><%#= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
<!--      </tr>-->
    <%# end %>
<!--  </tbody>-->
<!--</table>-->

<br>


